<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<title>MTC-MIS - Login</title>

<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../static/css/londinium-theme.css" rel="stylesheet" type="text/css">
<link href="../static/css/styles.css" rel="stylesheet" type="text/css">
<link href="../static/css/icons.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

</head>

<body class="full-width page-condensed">

    <!-- Navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-right">
                <span class="sr-only">Toggle navbar</span>
                <i class="icon-grid3"></i>
            </button>
            <a class="navbar-brand" href="#"><img src="../static/images/logo.png" alt="Londinium"></a>
        </div>
    </div>
    <!-- /navbar -->


    <!-- Login wrapper -->
    <div class="login-wrapper">
        <form action="#" role="form" method="post">
            <div class="popup-header">
                <a href="#" class="pull-left"><i class="icon-user-plus"></i></a>
                <span class="text-semibold">User Login</span>
                <div class="btn-group pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></a>
                    <ul class="dropdown-menu icons-right dropdown-menu-right">
                        <li><a href="#"><i class="icon-people"></i> Change user</a></li>
                        <li><a href="#"><i class="icon-info"></i> Forgot password?</a></li>
                        <li><a href="#"><i class="icon-support"></i> Contact admin</a></li>
                        <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="well">
                <div class="form-group has-feedback">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                    <i class="icon-users form-control-feedback"></i>
                </div>

                <div class="form-group has-feedback">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <i class="icon-lock form-control-feedback"></i>
                </div>

                <div class="row form-actions">
                    <div class="col-xs-6">
                        <div class="checkbox checkbox-success">
                        <label>
                            <input type="checkbox" class="styled">
                            Remember me
                        </label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-warning pull-right"><i class="icon-menu2"></i> Sign in</button>
                    </div>
                </div>
            </div>
        </form>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>  
    <!-- /login wrapper -->


    <!-- Footer -->
    <div class="footer clearfix">
        <div class="center">&copy; 2017. Manila Typesetting Company.</div>
    </div>
    <!-- /footer -->


</body>
</html>